.newP {.signal-border {
    border: 1px dashed black !important;
}

.pbtn {
    padding: 10px 20px;
    font-size: 13px;
    font-weight: bold; 
    border: none;
    background-color: rgb(197, 197, 197);
    transition: 0.2s;
}

.pbtn:hover {
    background-color: rgb(153, 153, 153);
}

.prototype-page-holder {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.prototype-page {
    overflow: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.11);
}

.prototype-header {
    height: min-content;
    padding: 40px 40px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.beginscherm {
    background-image: url('/images/Achtergrond.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .zonnebloem {
        max-width: 350px;
        max-height: 100%;
    }
}

.oefenscherm {
    .opdracht {
        cursor: pointer;
        width: 33%;
        &:hover {
            .rectangle {
                background-color: rgb(244,148,69);
            }
        }

        .rectangle {
            height: 200px;
            width: 200px;
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.274);
        }
    }

    @media only screen and (max-width: 400px) {
        .column-smallscreen {
          flex-direction: column;
          flex-wrap: nowrap;
          height: max-content !important;
        }
      }
}

.naResultaat {
    overflow-y: hidden;
    background-image: url('/images/Achtergrond.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .zonnebloem {
        max-width: 350px;
        max-height: 100%;
    }
}

.home {
    background-color: rgb(234,245,241) !important;
}

.resultaat {
    background-image: url('/images/Achtergrond.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .klaar {
        font-size: 30px;
    }
}

.progress-bar {
    width: 300px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.274);
}

.klaar {
    .klaar {
        font-size: 30px;
    }
}

.oefening {
    .placeholder {
        cursor: pointer;
        transition: 1.0s;
        height: 200px;
        width: 200px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.274);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 0px solid rgb(126,188,197);
        &.correct {
            border: 7px solid rgb(103,183,51);
            transform: scale(1.25);

            &:hover {
                border: 7px solid rgb(103,183,51);
                transform: scale(1.25);
            }
        }
        &.wrong {
            opacity: 0.4;

            &:hover {
                transform: none;
                border: none;
                cursor: default;
            }
        }
        &:hover {
            border: 7px solid rgb(126,188,197);
            transform: scale(1.06);
        }
    }

}

.downscale {
    transform: scale(0.9);
}

.mijlpaaloverzicht {
    overflow-y: scroll;
    .placeholder {
        max-height: 200px;
        max-width: 200px;
    }

    .inter-section {
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
}
}