.signal-border {
    border: 1px dashed black !important;
}

.pbtn {
    padding: 10px 20px;
    font-size: 13px;
    font-weight: bold; 
    border: none;
    background-color: rgb(197, 197, 197);
    transition: 0.2s;
}

.pbtn:hover {
    background-color: rgb(153, 153, 153);
}

.prototype-page-holder {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.prototype-page {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.prototype-header {
    height: 50px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.beginscherm {
    .zonnebloem {
        max-width: 350px;
        max-height: 100%;
    }
}

.oefenscherm {
    .opdracht {
        width: 33%;

        .rectangle {
            height: 200px;
            width: 200px;
        }
    }
}

.naResultaat {
    .zonnebloem {
        max-width: 350px;
        max-height: 100%;
    }
}

.resultaat {
    .klaar {
        font-size: 30px;
    }
}

.klaar {
    .klaar {
        font-size: 30px;
    }
}

.oefening {
    .placeholder {
        height: 200px;
        width: 200px;
        border: 1px solid black;
    }

}

.mijlpaaloverzicht {
    overflow-y: scroll;
    .placeholder {
        height: 200px;
        width: 200px;
    }
}