.signal-border {
    border: 1px dashed black !important;
}

.pbtn {
    padding: 10px 20px;
    font-size: 13px;
    font-weight: bold; 
    border: none;
    background-color: rgb(197, 197, 197);
    transition: 0.2s;
}

.pbtn:hover {
    background-color: rgb(153, 153, 153);
}

.prototype-page-holder {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.prototype-page {
    overflow: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.11);
}

.prototype-header {
    height: 50px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.beginscherm {
    .zonnebloem {
        max-width: 350px;
        max-height: 100%;
    }
}

.oefenscherm {
    .opdracht {
        cursor: pointer;
        width: 33%;
        &:hover {
            .rectangle {
                background-color: rgb(244,148,69);
            }
        }

        .rectangle {
            height: 200px;
            width: 200px;
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.274);
        }
    }
}

.naResultaat {
    .zonnebloem {
        max-width: 350px;
        max-height: 100%;
    }
}

.resultaat {
    .klaar {
        font-size: 30px;
    }
}

.progress-bar {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.274);
}

.klaar {
    .klaar {
        font-size: 30px;
    }
}

.oefening {
    .placeholder {
        cursor: pointer;
        height: 200px;
        width: 200px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.274);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &:hover {
            background: rgb(244, 148, 69) !important;
        }
    }

}

.mijlpaaloverzicht {
    overflow-y: scroll;
    .placeholder {
        max-height: 200px;
        max-width: 200px;
    }
}