.geluidEnKlik {
    height: 90vh;
    display: flex;
    align-items: center;

    .geluidEnKlik-container {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .checkbox {
        // transform : scale(1);
        padding: 0 !important;
        margin-bottom: -16px;
    }

    .MuiStepIcon-root.MuiStepIcon-active, .MuiStepIcon-root.MuiStepIcon-completed {
        color: #2D5485;
    }

    .MuiCheckbox-colorSecondary {
        color: rgba(255, 255, 255, 0);
        transition: 0.1s;
    }

    .MuiCheckbox-colorSecondary.Mui-checked {
        color:#2D5485;
    }

    .grid-col.o4 {
        .MuiCheckbox-colorSecondary.Mui-checked {
            color: rgb(224, 81, 38);
        }
    }
    
    .grid-col.o1 {
        .MuiCheckbox-colorSecondary.Mui-checked {
            color: rgb(207, 122, 203);
        }
    }
    
    .grid-col.o2 {
        .MuiCheckbox-colorSecondary.Mui-checked {
            color: rgb(85, 218, 228);
        }
    }
    
    .grid-col.o3 {
        .MuiCheckbox-colorSecondary.Mui-checked {
            color: rgb(8, 194, 8);
        }
    }


}

.grid-row {
    justify-content: center;
    padding: 10px 0px;
}

.grid-row.main {
    justify-content: center;
    align-items: center;
}

.grid-col {
    /* height: 90vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
}

.grid-col.between {
    font-size: 80px;
    font-weight: bold;
    color: grey;
}

.col-active {
    width: 60px;
    height: 60px;
    background: red;
    border-radius: 100%;
}

.lettergreep-container {
    color: black;
    width: 70px;
    box-shadow: 0px 3px 10px 5px rgba(54, 54, 54, 0.089);
    padding: 15px 30px;
    font-size: 19px;
    font-weight: bold;
    margin: 15px;
    margin-top: 0;
    border-radius: 3px;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.1s;

    .checkbox {
        margin-bottom: 10px;
    }
}

.lettergreep-container.correct {
    border: 3px solid #AED28F;
}

.col-active.o1 {
    background: rgb(224, 81, 38);
}

.col-active.o2 {
    background: rgb(207, 122, 203);
}

.col-active.o3 {
    background: rgb(85, 218, 228);
}

.col-active.o4 {
    background: rgb(76, 218, 72);
}