.App {
  text-align: center;
  overflow-x: hidden;
  height: 100%;
  font-family: 'Open Sans', sans-serif !important;

}

html {
  height: 100vh;
}

a {
  text-decoration: none;
}

.MuiAppBar-colorPrimary{
  background-color: white !important;
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}

.MuiToolbar-regular {
  height: 55px !important;
  min-height: 55px !important;
}


.MuiTypography-h6 {
  font-size: 13px !important;
  color: rgb(141, 141, 141) !important;
  font-weight: bold !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.MuiAppBar-positionStatic {
  position: fixed !important;
  top: 0;
  left: 0;
}

.MuiAppBar-root {
  background-color: #8462AA !important;
  color: white !important;
}

.MuiTypography-h6 {
  color: white !important;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.choose {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #8462AA;
}

.choose-container {
  min-height: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.choose-sub {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.choose-sub.first {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 15%;
  align-items: flex-start;
}

.choose-sub.second {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-right: 15%;
  flex-direction: column;
}

.choose-sub-concept-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.choose-sub-title {
  font-size: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

hr {
  height: 5px;
  width: 20px;
}

.choose-option {
  width: 200px;
  font-size: 13px;
  height: 100px;
  margin: 10px 0 10px 10px;
  cursor: pointer;
  background-color: white;
    box-shadow: 0px 0px 6px 3px rgba(58, 58, 58, 0.068);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8462AA;
  font-weight: bold;
  border-radius: 5px;
  border-bottom: 4px solid rgb(190, 190, 190);
  transition: 0.2s;
}

.choose-option:hover {
  transform: scale(1.1);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
