.App {
  text-align: center;
  overflow-x: hidden;
  // height: 100%;
  font-family: 'Helvetica Light', sans-serif !important;

}

html {
}

.fs-13 {
  font-size: 13px !important;
}

a {
  text-decoration: none;
}

.scroll1::-webkit-scrollbar {
  width: 5px;
}
 
.scroll1::-webkit-scrollbar-track {
  background: rgb(235, 235, 235);
}
 
.scroll1::-webkit-scrollbar-thumb {
  background: rgb(156, 182, 197); 
}


html::-webkit-scrollbar {
  width: 10px;
}
 
html::-webkit-scrollbar-track {
  background: rgb(235, 235, 235);
}
 
html::-webkit-scrollbar-thumb {
  background: #264f70; 
  border-radius: 4px;
}

.MuiAppBar-colorPrimary{
  background-color: white !important;
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}

.MuiToolbar-regular {
  height: 55px !important;
  min-height: 55px !important;
}


.MuiTypography-h6 {
  font-size: 13px !important;
  color: rgb(141, 141, 141) !important;
  font-weight: bold !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.goto-btn {
  cursor: pointer;
  margin-left: 5px;
  padding: 7px;
  background: lightgrey;
  border-radius: 5px;
  transition: 0.5s;
}

.goto-btn:hover {
  background: rgb(196, 196, 196);
}

.MuiAppBar-positionStatic {
  position: fixed !important;
  top: 0;
  left: 0;
}

.MuiAppBar-root {
  background-color: rgb(240, 240, 240) !important;
  color: white !important;
}

.MuiTypography-h6 {
  color: grey !important;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.choose {
  min-height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(65, 65, 65);
  font-family: 'Open Sans';
  background-color: white;
}

.choose-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.choose-sub {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.choose-sub.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 100%;
  /* padding: 0 5%; */
  /* font-weight: 300; */
  align-items: flex-start;
}

.choose-sub.second {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-right: 2%;
  width: 500px;
  flex-direction: column;
  

  .tocons {
    border-radius: 5px;
    margin: 6px 0;
    border-bottom: 4px solid #264f70;
    background-color: #3d76a4;
    width: 150px;
    padding: 20px 15px;
    color: white;
    font-size: 13px;
    transition: 0.2s;
  }

  .tocons:hover {
  transform: scale(1.1);
  }
}

.choose-sub-concept-title, .choose-sub.first .choose-sub-concept-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.choose-sub-buttons {
  background-color: #F18C7B;
  padding: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.uitleg-video {
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  z-index: 100000;
  background-color: rgb(241, 241, 241);
}

.arrow-down {
  font-size: 14px;
  margin: 10px;
}

.choose-sub-title {
  font-size: 23px;
  margin-bottom: 40px;
  margin-top:-30px;
  display: flex;
  align-items: center;
}

.choose-sub-title.second {
  font-size: 18px;
  font-weight: bold;
}

.choose-sub-title-concepten {
font-size: 30px;
color: rgb(82, 81, 81);
margin-bottom: 40px;
margin-left: 5%;
margin-top: 50px;

}

.opties-page {
  height: 90vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.opties {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}

.opties-o.o1 {
  /* background-color: #2C5586; */
  /* border-right: 4px solid white; */
}

.opties-o {
  width: 100%;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.1s;
}

.opties-o:hover {
  transform: scale(1.1);
}

.video-page {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

.video-part, .criteria-part {
  height: 100%;
}

.video-part {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .link-to-concept {
    background-color: #3d76a4;
    border-color: #23425c;
    width: 100% !important;
  }
}

.criteria-part {
  max-height: 470px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.criteria {
  border-radius: 4px;
  width: 400px;
  font-size: 11px;
  text-align: left;

  margin: 0px 40px 30px 10px;
  padding: 5px 30px 10px;

  span {
    font-weight: 500;
    font-size: 13px;
    color: #417baa;
  }

  hr {
    border-color: rgb(231, 231, 231);
    border-width: 2px;

  }

  p {
    color: rgb(46, 46, 46);
    margin: 13px 0 22px;
    font-size: 12px;
    font-weight: 200;
  }



  .uitleg {
    text-align: left;
    font-size: 11px;
    padding: 13px;
    background: #2B5A88;
    color: #d9e1e9;
    border-radius: 5px;
  }
}

.criteria:last-child {
  margin-bottom: 15px;
  padding-bottom: 0;
  p {
    margin-bottom: 0;
  }
}

.opties-o-container {
  height: 100px;
  width: 100%;
  border-radius: 5px;
  border-bottom: 4px solid #b16d61;
    margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F18C7B;
}

.choose-sub-intro {
  font-weight: 100;
  font-size: 13px;
}

hr {
  height: 5px;
  width: 20px;
  border: none;
  border-bottom: 3px solid grey;

}

.choose-option, .link-to-concept  {
  width: 200px;
  font-size: 13px;
  height: 70px;
  margin: 10px 0;
  cursor: pointer;
  background-color: white;
  color: grey;
    box-shadow: 0px 0px 6px 3px rgba(58, 58, 58, 0.068);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 5px;
  border-bottom: 4px solid #b16d61;
  transition: 0.2s;
}

.choose-option:hover, .link-to-concept:hover {
  transform: scale(1.1);
}

.link-to-concept {
  background-color: #F18C7B;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
